%h1 Who said what?
-quiz = data.quizzes.miley
-quiz.quotations.shuffle!
%h2
  Donald Trump or
  = quiz.name
  ?
%p= quiz.description
.quiz-quotations
  %ol
    - counter = 0
    -quiz.quotations.each do |quotation|
      %li
        %h4= quotation.quote
        =image_tag 'trump-thoughtful.jpg',
          alt: 'Trump', title: 'Donald J. Trump', id: "trump#{counter}",
          question: counter
        =image_tag quiz.image,
          alt: quiz.nickname, title: quiz.name, id: "#{quiz.nickname}#{counter}",
          question: counter
        - counter += 1
%h3 Results
%p#results Please click an image to continue!
.hidden#share
  %p=link_to 'Share your result on Facebook!',
    "http://www.facebook.com/sharer/sharer.php?u=https://istrumpprez.com#{current_page.url}&p[title]=Trump%20vs%20#{quiz.name}", target: '_blank'
:coffee
  answers = #{quiz.quotations.map { |q| q.author }}
  $ ->
    correct = 0
    total = 0
    $("li img").click ->
      total += 1
      return if $(this).hasClass('disabled')
      question = $(this).attr('question')
      console.log("##{quiz.nickname}" + question)
      $("#trump" + question).addClass('disabled')
      $("##{quiz.nickname}" + question).addClass('disabled')
      if $(this).attr('alt') == answers[question]
        $(this).addClass('correct')
        correct += 1
      else
        $(this).addClass('incorrect')
      $("#results").html("Your score: " + correct + "/" + total)
      if total == 10
        $("#share").removeClass('hidden')
